<section class="container mt-5">
  <h2 class="d-flex justify-content-center">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), class: "form", html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions d-flex justify-content-center mb-4">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-info" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</section>